
<div class="container">
  <mat-card class="example-card">


    <div class="form-title">
      <mat-card-title class="title">Property</mat-card-title>
    </div>
    
    <mat-divider></mat-divider>


    <mat-card-content>
      <mat-stepper [linear]="isLinear" #stepper>
        

        <mat-step [stepControl]="myForm" >
          <ng-template matStepLabel>Details</ng-template>
          <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="container">
              <div class="row">
                <div class="col-sm">
      
                  <div class="dense-1">
                    <mat-form-field  class="example-full-width" appearance="outline">
                      <mat-label class="label-style">Property Type</mat-label>
                      <mat-select formControlName="propertyTypeId">
                        @for (option of propertyTypes; track propertyTypes) {
                          <mat-option [value]="option.propertyTypeId">{{option.name}}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>
      
                  <div class="dense-1">
                    <mat-form-field  class="example-full-width" appearance="outline">
                      <mat-label class="label-style">Law Firm</mat-label>
                      <mat-select formControlName="assignedLawyerId">
                        @for (option of lawFirms; track lawFirms) {
                          <mat-option [value]="option.lawFirmID">{{option.lawFirmName}}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <app-text-input
                    type="text"
                    [formControl]="$any(myForm.controls['address'])"
                    [label]="'Address'">
                  </app-text-input>

                  <div class="dense-1">
                    <mat-form-field  class="example-full-width" appearance="outline">
                      <mat-label class="label-style">Suburb</mat-label>
                      <mat-select formControlName="suburbId">
                        @for (option of suburbs; track propertyTypes) {
                          <mat-option [value]="option.suburbId">{{option.name}}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>
      
                  <div class="dense-1">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label class="label-style">City</mat-label>
                      <mat-select formControlName="cityId">
                        @for (option of cities; track cities) {
                          <mat-option [value]="option.cityId">{{option.name}}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
                  </div>

                  <app-text-input
                    type="text"
                    [formControl]="$any(myForm.controls['description'])"
                    [label]="'Description'">
                  </app-text-input>
                </div>
      
                <div class="col-sm">

                  <app-text-input
                    type="number"
                    [formControl]="$any(myForm.controls['price'])"
                    [label]="'Price'">
                    </app-text-input>
      
                  <app-text-input
                    type="number"
                    [formControl]="$any(myForm.controls['numberOfRooms'])"
                    [label]="'Number Of Rooms'">
                  </app-text-input>
      
                  <app-text-input
                    type="number"
                    [formControl]="$any(myForm.controls['numberOfBathrooms'])"
                    [label]="'Number Of Bathrooms'">
                  </app-text-input>
      
                  <app-text-input
                    type="number"
                    [formControl]="$any(myForm.controls['parkingSpots'])"
                    [label]="'Number Of Parking Spaces'">
                  </app-text-input>

                  <div class="dense-1">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label class="label-style">Amenities</mat-label>
                      <mat-select formControlName="amenities" multiple (selectionChange)="onSelectionChange($event)">
                        <mat-select-trigger>
                          {{selectedAmenities[0] || ''}}
                          @if ((selectedAmenities.length || 0) > 1) {
                            <span class="example-additional-selection">
                              (+{{(selectedAmenities.length || 0) - 1}} {{selectedAmenities.length === 2 ? 'other' : 'others'}})
                            </span>
                          }
                        </mat-select-trigger>
                        @for (amenity of amenitiesList; track amenity) {
                          <mat-option [value]="amenity">{{amenity}}</mat-option>
                        }
                      </mat-select>
                    </mat-form-field>
    
                  </div>
      
                  <app-text-input
                    type="text"
                    [formControl]="$any(myForm.controls['youtubeUrl'])"
                    [label]="'Youtube Url'">
                  </app-text-input>
             
                </div>
              </div>

             
            </div>
      
            <button mat-flat-button type="submit" color="primary" matStepperNext [disabled]="!myForm.valid">Save And Continue</button>
                  
          </form>
        </mat-step>
      
      
        <mat-step [stepControl]="myForm" >
          <ng-template matStepLabel>Photos</ng-template>
          <form [formGroup]="myForm">
            <div class="row">
              <div class="col-sm">
                <app-photo-editor></app-photo-editor>
              </div>

              <div class="col-sm property-images">

                <div class="container mt-4">
                  <div class="row">
                    <label *ngIf="propertyPhotos.length===0">No Photos</label>

                    @for (item of propertyPhotos; track $index) {
                      <div class="col-md-4">
                        <div class="image-container">
                          <img src={{item.photoUrl}} class="img-fluid" alt="Image 1">
                          <button class="delete-btn" (click)="deletePhoto(item.propertyPhotoId)">Delete</button>
                        </div>
                      </div>
                    }
                  </div>
                </div>

              </div>
            </div>
          
            <div>
              <button mat-flat-button matStepperPrevious color="primary">Back</button>
              <button mat-flat-button matStepperNext color="primary">Save And Exit</button>
            </div>
          </form>
        </mat-step>
      
      </mat-stepper>

    </mat-card-content>

  </mat-card>
</div>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>




