table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 12px;
    //width: 100%;
    margin-top: 0.5rem;
  }
  
  td, th {
    width: 25%;
  }


  .demo-table {
    width: 100%;
  }
  
  .demo-button-container {
    padding-bottom: 16px;
  }
  
  .demo-button + .demo-button {
    margin-right: 8px;

  }

  .actions{
    margin: 0.3rem;
  }