<div class="dense-1">
  <mat-form-field class="example-full-width" appearance="outline" >
    <mat-label class="label-style">{{label}}</mat-label>
    <input 
      [class.is-invalid]="control.touched && control.invalid"
      type="password"
      [formControl]="control"  
      matInput 
      placeholder={{label}} 

      matInput [type]="hide ? 'password' : 'text'"
      >

      <mat-icon-button class="button-hide"  matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-icon-button>
    <mat-error *ngIf="control.errors?.['required']">Please enter a {{label}}</mat-error>
    <mat-error *ngIf="control.errors?.['minLength']">Password should have at least 8 characters</mat-error>
    <mat-error *ngIf="control.errors?.['pattern']">Minmum 8 Characters, lowercase, uppercase, and digits.</mat-error>
  </mat-form-field>
</div>