

<h2 mat-dialog-title>Make An Offer</h2>
<mat-dialog-content class="mat-typography">

    <form [formGroup]="myForm" >
        <div class="container">
              <app-text-input
                type="number"
                [formControl]="$any(myForm.controls['amount'])"
                [label]="'Amount'">
              </app-text-input>
              
              <app-text-input
                type="text"
                [formControl]="$any(myForm.controls['description'])"
                [label]="'Description'">
              </app-text-input>
        </div>
      </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="warn" mat-dialog-close>Cancel</button>
  <button cdkFocusInitial mat-flat-button color="primary" [disabled]="!myForm.valid" (click)="onSubmit()">Submit</button>
</mat-dialog-actions>