

<h2 mat-dialog-title>Make An Offer</h2>
<mat-dialog-content class="mat-typography">

    <form [formGroup]="myForm" >
        <div class="container">
              <app-text-input
                type="number"
                [formControl]="$any(myForm.controls['amount'])"
                [label]="'Amount'">
              </app-text-input>
                          
              <mat-form-field [style.fontSize]="'11px'" appearance="outline" class="example-full-width">
                <mat-label [style.fontSize]="'11px'">Description</mat-label>
                <textarea matInput
                          formControlName="description"
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="5"></textarea>
              </mat-form-field>
        </div>
      </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="warn" mat-dialog-close>Cancel</button>
  <button cdkFocusInitial mat-flat-button color="primary" [disabled]="!myForm.valid" (click)="onSubmit()">Submit</button>
</mat-dialog-actions>