<!-- 
<mat-tab-group [tabIndex]="tabIndex" (selectedTabChange)="tabSelectionChanged($event)">
  <mat-tab>
    <ng-template mat-tab-label> <mat-icon class="example-tab-icon">inbox</mat-icon> Inbox </ng-template>
      <mat-list>
        @for (message of messages; track message) {
          <mat-card class="custom-card" (click)="messageClicked(message)">
            <mat-card-content>

              {{message.senderUsername}}
              <br>
              {{message.messageSent | date}}
            </mat-card-content>
          </mat-card>   
        }
      </mat-list>
      
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label> <mat-icon class="example-tab-icon">outbox</mat-icon> Outbox </ng-template>
    <mat-list>
      @for (message of messages; track message) {
        <mat-card class="custom-card" (click)="messageClicked(message)">
          <mat-card-content>
            {{message.senderUsername}}
            <br>
            {{message.messageSent | date}}
          </mat-card-content>
        </mat-card>
      }
    </mat-list>
  </mat-tab>

  <mat-tab >
    <ng-template mat-tab-label> <mat-icon class="example-tab-icon">message</mat-icon> Unread </ng-template>
    <mat-list>
      @for (message of messages; track message) {
        <mat-card class="custom-card" (click)="messageClicked(message)">
          <mat-card-content>
            {{message.senderUsername}}
            <br>
            {{message.messageSent | date}}
          </mat-card-content>
        </mat-card>

      }
    </mat-list>

  </mat-tab>
</mat-tab-group> -->

<mat-list>
  @for (message of messages; track message) {
    <mat-card class="custom-card" (click)="messageClicked(message)">
      <mat-card-content>

        {{message.senderUsername}}
        <br>
        {{message.messageSent | date}}
      </mat-card-content>
    </mat-card>   
  }
</mat-list>





      




