
.custom-card {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}


.example-tab-icon {
  margin-right: 8px;
}

.custom-card:hover{
  cursor: pointer;
}

