
.custom-card {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  

  .card-image {
    width: 100%;
    height: auto;
  }

  .card-image:hover {
    cursor: pointer;
  }

  h1:hover{
    cursor: pointer;
  }
  
  
  .card-content {
    flex: 1;
  }
  

  .action-buttons{
    width: 100%;
  }

.details-icon{
    font-size: 18px; width: 22px; height: 22px; margin-left: 1rem;
}

.icon-div{
    display: flex; align-items: center 
}

.icon-parent{
    display: flex; 
}

.span-actions{
  width: 5px;
}

