
.example-card {
    max-width: 500px;
    margin: 16px;
  }

  .center-content {
      margin-top: 100px;
      text-align: -webkit-center;
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    margin-top: 10px;
    width: 100%;
    font-size: 12px;
  }
  .mat-button{
    margin-top: 10px;
    width: 100%;
    color: white;
    height: 40px;
    background-color: #3F51B5;
  }


  mat-card-title{
    padding-top: 0.3rem;
  }

  .form-title{
    text-align:center;
    height: 3rem;
  }

  .redirect-link{
    font-style: bold; 
  }

  .redirect-link:hover {
    cursor: pointer;
    color: #3F51B5;
  }

  .mdc-button{
    width: 100%;
  }


