<div class="center-content">
  <mat-card class="example-card">

    <div class="form-title">
      <mat-card-title>Register</mat-card-title>
    </div>
    
    <mat-divider></mat-divider>

    <mat-card-content>
      <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
  
        <app-text-input
          type="text"
          [formControl]="$any(myForm.controls['userName'])"
          [label]="'Username'">
        </app-text-input>

        
        <app-text-input
          type="email"
          [formControl]="$any(myForm.controls['email'])"
          [label]="'Email'">
        </app-text-input>

        <app-password-input
          [formControl]="$any(myForm.controls['password'])"
          [label]="'Password'">
        </app-password-input>

        <button mat-flat-button color="primary" type="submit" [disabled]="!myForm.valid">Register</button>
        <br>
        <div style="font-size: 12px;">
          <a>Already have Account ? </a>  <mat-label class="redirect-link" routerLink="/login">Login</mat-label>
        </div>
        
      </form>

    </mat-card-content>

  </mat-card>
</div>