.details-icon{
    font-size: 18px; width: 22px; height: 22px;
}

.details-icon-margin{
  margin-left: 1rem;
}

.icon-div{
    display: flex; align-items: center 
}

.icon-parent{
    display: flex; 
}

.span-actions{
  width: 5px;
}
.actions{
    width: 60%;
}

.btn-action{
    width: 100%;
}