
<mat-card>
  <mat-card-content>

    <div class="row">
      <div class="col-sm">
        <gallery *ngIf="propertyDetails?.propertyPhotos"
            [items]="images" 
            [imageSize]="'cover'"
            [thumb]="false"
            [nav]="true"
            [dots]="true"
            class="gallery-photo"
          >
        </gallery>
      </div>

      <div class="col-sm">
        <h2>{{propertyDetails?.property?.price | currency}}</h2>

                  
            <div class="icon-div">
              <mat-icon class="details-icon">place</mat-icon>
              <div> {{propertyDetails?.property?.cityName}} </div>
            </div>

              <div class="icon-parent">
                <div class="icon-div">
                  <mat-icon class="details-icon">hotel</mat-icon>
                  <div>{{propertyDetails?.property?.numberOfRooms}} Bedrooms</div>
                </div>

                <div class="icon-div">
                  <mat-icon class="details-icon">hot_tub</mat-icon>
                  <div>{{propertyDetails?.property?.numberOfBathrooms}} Bathrooms</div>
                </div>
              </div>



              <div class="icon-parent">
                <div class="icon-div">
                  <mat-icon class="details-icon">settings_overscan</mat-icon>
                  <div>{{propertyDetails?.property?.numberOfRooms}} m<sup>2</sup></div>
                </div>
                <div class="icon-div">
                  <mat-icon class="details-icon">directions_car</mat-icon>
                  <div>{{propertyDetails?.property?.parkingSpots}} Car Park</div>
                </div>
              </div>



          <div>
            <h1>Description</h1>
            {{propertyDetails?.property?.description}}
          </div>

          <div>
            <h1>Amenities</h1>
            Good zesa, Municipal water, veranda, walled.
          </div>

          <div>
            <h1>Numner Of Likes</h1>
            ({{propertyDetails?.property?.numberOfLikes}})
          </div>

      </div>
    </div>

    <button mat-flat-button color="primary" (click)="openOfferDialog()">Make Offer</button>
    <app-offer-list [dataSource]="matTablePropertyOffers"></app-offer-list>


  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary">Make An Offer</button>
    <button mat-flat-button color="primary">Contact Owner</button>
    <button mat-flat-button color="primary" (click)="onLikeClick()"> {{userLike.isLiked ? 'UnLike' :'Like'}}  </button>
  </mat-card-actions>
</mat-card>
